<nav class="smcp">
  {{#nav-categories}}
  <a href="{{category-uri}}">{{category-name}}</a>
  {{/nav-categories}}
  <a href="/tags/">Tags</a>
  <a href="/about/">About</a>
  <a href="{{github}}">GitHub</a>
  <a href="/rss.xml">RSS</a>
</nav>
